#headphoto {
    padding-top: 1%;
    padding-bottom: 2%;
    height: 350px;

}
.recipeintro{
    padding-top: 5%;
    padding-bottom: 1%;
}
.foodcard {
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
* {
    font-family:Comic Sans MS, Comic Sans;
    box-sizing: border-box;
}
#logo-img {
    float: left;
    width: 150px;
    height: 150px;
    margin: 10px 15px 0px 0px;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
.navbar-brand h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}
.navbar-brand p span {
    vertical-align: middle;
    font-size: 0.9em;
}
#header-nav {
    background-color: beige;
    border-radius: 0;
    border: 0;
}
#secondnav{
    background-color: beige;
}
#titleheader{
    margin-top: 20px;
}
#headertag {
    margin-bottom: 20px;
}